.input-group-addon {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.ctrl-wrap {
  &.not-full-width-sm input {
    max-width: 200px;
  }
  &.not-full-width-md input {
    max-width: 400px;
  }
  &.not-full-width-lg input {
    max-width: 600px;
  }
}

.add-new-taxon {
  position: absolute;
  border-radius: 4px;
  background: silver;
  text-align: center;
  opacity: 0.5;
  z-index: 999;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

/* Set the species checklist entry grid width to 100% */
table.species-grid {
  width: 100%;
  .hidden-by-dynamic-attr {
    display: none;
  }
  /* Add taxon button alignment. */
  .scTaxonCell {
    position: relative;
  }
}

#new-taxon-form {
  max-width: 600px;
}

.attrs-container {
  /* Indent contents */
  padding-left: 30px;
  legend {
    font-size: 150%;
    /* Undo indentation for legend */
    margin-left: -30px;
  }
  .attrs-container {
    legend {
      font-size: 120%;
    }
  }
}